<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#" alt="Back to top"><i class="fas fa-arrow-up"></i></a>
        </p>
        <div class="text-center">
            <small class="copyright">Desenvolvido <i class="fas fa-heart"></i> by 
                <a href="https://cesarbruschetta.github.io" target="_blank">Cesar Augusto</a> para todxs
                | <i class="fab fa-creative-commons"></i> - {{ site.time | date: "%Y"}}
            </small>
        </div>
    </div>
</footer>